body {
    font-family: 'Poppins', sans-serif !important;
}

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Questrial', sans-serif;
}*/

::placeholder {
    color: rgba(138, 165, 200, 0.4) !important;
}

.header.auth {
    background-color: #FFF;
    height: 4.5rem;
    box-shadow: 0 0px 20px rgba(36, 102, 178, 0.1);
    background-image: none;
    position: relative;
    z-index: 9999;
}

    .header.auth .navbar {
        padding: 0.5rem 3rem;
        z-index: 999;
    }

.aboutus h3 {
    font-size: 2rem !important;
    font-weight: 300;
    line-height: 1.75;
    text-decoration: underline;
    text-decoration-color: #0078ff;
}

.aboutus p, .aboutus ul li, .aboutus ol li {
    font-size: 1.125rem;
    line-height: 2;
}

.teammain {
    padding: 3rem;
    justify-content: center;
}

    .teammain .shadow {
        box-shadow: 0 5px 20px rgba(0, 84, 209, 0.10) !important;
    }

    .teammain .card-body {
        min-height: 14rem;
    }

    .teammain h5 span {
        font-size: 1rem;
        font-weight: 400;
        color: #0054d1;
        margin: 1rem auto;
        display: block;
    }

div.wording {
    color: #0054d1;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.resultpanel {
    font-size: 1.125rem !important;
    background-color: #deeeff !important;
    border: solid 2px #6fb0f8;
    padding: 1rem !important;
    border-radius: 0.5rem !important;
}

    .resultpanel h5 {
        font-size: 1.125rem !important;
        font-weight: 400 !important;
    }

.txtsize {
    font-weight: bold;
    line-height: 2;
}

.imgsize {
    max-width: 80% !important;
    margin: 0 auto !important;
    display: block !important;
}


.calculatormain {
    padding: 3rem;
    justify-content: center;
}

    .calculatormain .shadow {
        box-shadow: 0 5px 20px rgba(0, 84, 209, 0.10) !important;
    }

        .calculatormain .shadow:hover {
            box-shadow: 0 5px 50px rgba(0, 84, 209, 0.25) !important;
        }

    .calculatormain img {
        max-width: 80%;
        display: block;
        margin: 2rem auto 0;
    }

    .calculatormain .card-body {
        min-height: 16rem;
    }

    .calculatormain h5 {
        color: #000;
        text-decoration: none !important;
        margin: 1rem auto;
        display: block;
        font-weight: 700;
    }

    .calculatormain .card-text {
        font-size: 0.875rem;
    }

    .calculatormain a {
        text-decoration: none !important;
    }

        .calculatormain a.btn {
            position: absolute;
            left: 50%;
            bottom: 1.5rem;
            transform: translateX(-50%);
        }

.calculatorinner {
    padding: 1.5rem;
}

.abc .lblhover {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    text-decoration: none !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.abc:hover .lblhover {
    visibility: visible;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.authpageheading h2 {
    margin-top: 0.25rem;
    font-size: 1.75rem !important;
    font-weight: 400 !important;
}

.authpagecontent {
    background-color: #f5f7fc !important;
    padding: 3rem 0 5rem;
}

.profile-userpic img {
    max-width: 3rem;
    border-radius: 50%;
}

.profile-userpic:after {
    display: none;
}

.profiledd {
    width: 10rem;
    right: 0rem;
    left: auto;
    float: right;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    margin-top: 1rem;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    padding: 0;
    color: #000;
    font-size: 0.875rem;
    z-index: 9999;
}

    .profiledd a {
        padding: 0.5rem;
        text-align: center;
    }

        .profiledd a:first-child {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .profiledd a:last-child {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        .profiledd a:hover {
            background-color: #e7f2ff;
        }

.fancynav {
    border: 0;
}

    .fancynav .nav-link {
        border: 0 !important;
        padding: 0.75rem 1.5rem !important;
        font-size: 0.9375rem !important;
    }

        .fancynav .nav-link.active {
            background-color: #0054d1;
            color: #fff !important;
        }

        .fancynav .nav-link svg {
            width: 1rem !important;
            margin-right: 0.25rem;
            vertical-align: bottom;
        }

.card-account {
    border: none !important;
    background-color: #fff;
    border-radius: 0.5rem;
    min-height: 80vh;
    box-shadow: 0 0px 20px rgba(36, 102, 178, 0.1);
    padding: 2rem;
}

.nodata {
    padding: 3rem;
    text-align: center;
}

    .nodata img {
        max-height: 10rem;
        margin: 1rem auto 2rem;
        display: block;
    }

    .nodata h3 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .nodata p {
        font-size: 0.9375rem;
        max-width: 70%;
        margin: 0 auto;
        display: block;
        margin-bottom: 1.5rem;
        color: #888;
    }

.dashpromos {
    padding: 1rem 4rem;
    border-right: solid 1px rgba(0, 84, 209, 0.07);
}

    .dashpromos img {
        max-width: 100%;
        margin: 1rem 0;
        border-radius: 0.5rem;
    }

.dashlist {
    padding: 1rem 4rem;
}

    .dashlist .list-group {
        margin-top: 1.5rem;
    }

    .dashlist .list-group-item {
        border-color: #ecf0f8 !important;
    }

        .dashlist .list-group-item img {
            width: auto;
            height: 3rem;
        }

        .dashlist .list-group-item h5 {
            font-size: 1.5rem;
            font-weight: 500;
            color: #000;
            width: 80%;
            margin-top: 0.5rem;
        }

        .dashlist .list-group-item .btn-sm {
            padding: 0.375rem 1.25rem !important;
            margin-bottom: 0.5rem;
        }

    .dashlist .list-group-item-action:hover {
        background-color: #f5f7fc !important;
    }

.dashquick {
    padding: 1rem 4rem;
}

    .dashquick h4, .dashpromos h4, .dashlist h4 {
        font-size: 1.125rem;
    }

    .dashquick .helpdesklink {
        background-color: #0054d1;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        font-size: 1.125rem;
        line-height: 1;
        padding-top: 1.25rem;
        color: #fff;
        text-align: center;
        float: right;
        display: block;
        margin-top: 2.75rem;
        text-decoration: none !important;
    }

        .dashquick .helpdesklink:hover {
            background-color: #0041a1;
        }

    .dashquick .summary {
        width: 70%;
        margin-top: 1.5rem;
        padding: 0.75rem 2rem;
        background-color: #F2FAFF;
        border-radius: 0.5rem;
        float: left;
        display: block;
    }

        .dashquick .summary p {
            display: block;
            width: 100%;
            margin-bottom: 0.25rem !important;
            clear: both;
            font-size: 0.875rem;
        }

            .dashquick .summary p span.left {
                display: inline-block;
                width: 70%;
                text-align: left;
            }

            .dashquick .summary p span.right {
                display: inline-block;
                width: 30%;
                text-align: right;
                font-weight: 600;
            }

    .dashquick .referfriend {
        background-color: #F2FAFF;
        border-radius: 0.5rem;
        padding: 0.75rem 2rem;
        width: 100%;
        margin-top: 2rem;
        position: relative;
    }

        .dashquick .referfriend .btn-primary {
            padding: 0.25rem 1.5rem !important;
            font-size: 0.875rem;
        }

        .dashquick .referfriend .form-control {
            width: 70%;
            margin-top: 1rem;
            margin-bottom: 0.75rem;
            border-color: rgba(0, 84, 209, 0.41);
        }

        .dashquick .referfriend h5 {
            font-size: 0.875rem;
            font-weight: 600;
        }

        .dashquick .referfriend img {
            width: 25%;
            position: absolute;
            right: 0.875rem;
            bottom: 0.875rem;
        }

.accountprofile, .accountagreements, .accountservices, .accountinvest, .accountcourses, .accountdashboard {
    padding: 2rem 0;
}

    .accountprofile .profilesidebar {
        border-right: solid 1px rgba(0, 84, 209, 0.07);
    }

        .accountprofile .profilesidebar img {
            margin: 0 auto 2rem;
            width: 70%;
            border-radius: 50%;
            border: solid 8px rgba(0, 84, 209, 0.1);
            display: block;
        }

    .accountprofile .col-form-label {
        font-weight: 500;
        font-size: 0.875rem;
        text-align: right;
        color: #000;
    }

        .accountprofile .col-form-label.mtm1 {
            margin-top: -0.5rem;
        }

    .accountprofile .btn-success {
        background-color: #00e133 !important;
        border-color: #00e133 !important;
        padding: 0.75rem 2.5rem !important;
        margin-top: 1rem;
    }

        .accountprofile .btn-success:hover {
            box-shadow: 0 0 25px rgba(0, 225, 51, 0.5) !important;
        }

    .accountprofile .form-control:focus {
        border-color: #0054d1;
        box-shadow: 0 0 15px rgba(0, 84, 209, 0.5);
    }


    /* The radio */
    .accountprofile .radio {
        display: inline-block;
        position: relative;
        padding-left: 27px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 0.5rem;
        margin-top: 0.375rem;
    }

        /* Hide the browser's default radio button */
        .accountprofile .radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .accountprofile .checkround {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-color: #0054d1;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
    }


    /* When the radio button is checked, add a blue background */
    .accountprofile .radio input:checked ~ .checkround {
        background-color: #fff;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .accountprofile .checkround:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .accountprofile .radio input:checked ~ .checkround:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .accountprofile .radio .checkround:after {
        left: 2px;
        top: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #0054d1;
    }

.accountdashboard {
}


.masterbar {
    background-color: #f1f7fd;
    min-height: 2rem;
    padding: 0 2rem;
}

    .masterbar a {
        padding: 0.125rem 0.5rem !important;
        border-radius: 0rem !important;
        margin: 0.25rem;
        font-size: 0.75rem;
        border: none !important;
    }

        .masterbar a.btn-primary {
            background-color: #3147ff !important;
        }

        .masterbar a.btn-info {
            background-color: #009cf9 !important;
        }

        .masterbar a.btn-success {
            background-color: #01e8c4 !important;
        }

        .masterbar a.btn-secondary {
            background-color: #b4cbe3 !important;
        }

        .masterbar a.btn-dark {
            background-color: #222 !important;
            color: #ffd800 !important;
        }

        .masterbar a.btn-danger {
            background-color: #ff69b4 !important;
        }

        .masterbar a.btn-warning {
            background-color: #ffef0a !important;
        }

        .masterbar a.btnticker {
            background-color: #0078ff !important;
        }

    .masterbar .social a {
        color: #a3bfdd;
        font-size: 1rem !important;
        margin: 0.25rem !important;
        padding: 0 !important;
        display: inline-block;
    }


.header {
    width: 100%;
    height: 100vh;
    /*background-image: url(../images/header-background.svg);
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: contain;*/
}

.navbar {
    padding: 0.75rem 2rem !important;
}

.navbar-brand img {
    height: 45px !important;
}

.nav-link {
    font-size: 1rem;
    color: #000 !important;
    padding: 0.5rem 0.875rem !important;
    font-weight: 400;
}

    .nav-link.login, .nav-link.signup {
        font-size: 0.75rem;
        background: linear-gradient(179deg, rgba(14,83,177,1) 19%, rgba(35,119,201,1) 98%) !important;
        border-radius: 10px;
        color: #FFF !important;
        margin: 0 0.5rem;
    }

.bsnav-sticky.bsnav-sticky-fade.sticked.in {
    top: 0;
    box-shadow: 0 1px 15px rgba(20, 94, 175, 0.1) !important;
    background-color: #fff !important;
}

.shrink-nav {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    .shrink-nav .navbar-collapse {
        margin-top: 0;
    }

    .shrink-nav .nav-item .nav-link {
        color: #000 !important;
    }

    .shrink-nav .nav-link.login, .shrink-nav .nav-link.signup {
        font-size: 0.75rem;
        background-image: linear-gradient(to right, #3147ff 0%, #0e85ff 100%);
        border-radius: 1rem;
        color: #fff !important;
        margin: 0 0.5rem;
    }


.header .banner {
    padding: 1rem 2rem;
}

    .header .banner h3 {
        margin-top: 15%;
        font-size: 1.25rem;
    }

    .header .banner .btn {
        background-color: #0078ff !important;
        padding: 0.75rem 1.5rem !important;
        font-size: 1.125rem;
        border: solid 2px transparent !important;
    }

    .header .banner .btn-primary-outline {
        background-color: #FFF !important;
        padding: 0.75rem 1.25rem !important;
        font-size: 1.125rem;
        margin-left: 1rem;
        color: #000;
        border: solid 2px #0078ff !important;
    }

    .header .banner h4 {
        color: #0078ff;
        font-size: 1.125rem;
    }

    .header .banner h2 {
        /*font-family: 'Roboto', sans-serif;*/
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2;
    }

        .header .banner h2 img {
            height: 4rem;
        }

        .header .banner h2 strong {
            font-weight: 500;
            color: #0054d1;
        }

        .header .banner h2 .achhiadvise {
            background-color: #FFF655;
            color: #000;
            padding: 0.5rem;
            font-size: 1.875rem;
            font-weight: 400;
        }

    .header .banner p {
        font-family: 'Roboto', sans-serif;
        margin-left: 0.75rem;
        margin-top: 1rem;
        font-size: 0.9375rem;
        color: #000;
        width: 70%;
        font-weight: 400;
    }

    .header .banner .badge {
        background-color: #00e133;
        font-weight: 500;
        line-height: normal;
        border-radius: 0;
        padding: 0.25rem 0.5rem;
    }

    .header .banner .input-group {
        font-family: 'Roboto', sans-serif;
        margin-left: 0rem;
        width: 90%;
    }

        .header .banner .input-group input[type=text] {
            border-color: #B4CBE3;
            padding: 0.6375rem 1rem;
        }

            .header .banner .input-group input[type=text]::placeholder {
                color: #B4CBE3 !important;
                font-size: 0.875rem;
            }

ul.checklist {
    font-family: 'Roboto', sans-serif;
    padding-left: 2rem !important;
    list-style: none;
    margin: 1rem 0;
}

    ul.checklist li {
        font-size: 1rem !important;
        line-height: 2.25 !important;
    }

        ul.checklist li:before {
            font-family: 'Font Awesome 5 Free';
            content: '\f058';
            margin: 0 10px 0 -15px;
            color: #0054d1;
            font-weight: 900 !important;
        }

.header .bannerfeatures {
    padding-left: 0.5rem;
}

    .header .bannerfeatures li {
        font-size: 1.125rem;
        display: block;
        margin-top: 0.75rem;
    }

        .header .bannerfeatures li img {
            width: 2rem;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 0.5rem;
        }

.header .banner p {
    margin-top: 1rem;
    font-size: 1.0625rem;
    color: #000;
    width: 80%;
    font-weight: 500;
}

.bannerimg {
    width: 85%;
    margin-top: 10%;
}



.offerrings {
    margin-top: -3%;
    padding: 6rem 0 4rem;
    background-color: #F0F3FC;
}

.offeringcard {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 90%;
    min-height: 24rem;
    box-shadow: 0px 0px 30px rgba(25, 131, 220, 0.1);
}

    .offeringcard .title {
        color: #0054d1;
        font-size: 1.25rem;
        display: block;
        text-align: center;
        width: 100%;
        padding: 1rem 0;
        font-weight: 500;
    }

    .offeringcard img {
        display: block;
        margin: 0 auto;
        height: 12rem;
        padding: 0 0 1rem;
    }

    .offeringcard p {
        color: #000000;
        font-size: 0.875rem;
        display: block;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-weight: 500;
    }

    .offeringcard a.btn {
        display: block;
        margin: 1rem auto;
        max-width: 60%;
    }

.offeringheading {
    color: #000;
    font-size: 2.125rem;
    font-weight: 500;
    display: block;
}

.offeringdesc {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.sfimg {
    width: 50%;
    position: absolute;
    right: -2rem;
}

.howhelp {
    margin-top: 5rem;
    padding: 2rem 0;
}

    .howhelp h2 {
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-size: 2rem;
        text-align: center;
    }

    .howhelp p {
        color: #000;
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
    }

.btn-primary {
    background-color: #0054d1 !important;
    border-radius: 0.5rem;
    font-size: 0.9375rem;
    padding: 0.5rem 1.5rem !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-success {
    background-color: #6ac806;
    border-radius: 0.5rem;
    font-size: 0.9375rem;
    padding: 0.5rem 1.5rem !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.wealth, .taxes, .startup, .student {
    padding: 2rem 0 4rem;
}

    .wealth h3, .taxes h3, .startup h3, .student h3 {
        color: #0054d1;
        font-weight: 500;
        font-size: 1.5rem;
    }

    .wealth p, .taxes p, .startup p, .student p {
        color: #000;
        font-weight: 500;
        font-size: 0.875rem;
    }

.sectionicon {
    max-width: 45%;
}

.productcard {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 9rem;
    height: 11rem;
    box-shadow: 0px 0px 50px 0px rgba(25, 131, 220, 0.15);
    margin-left: 1.5rem;
    margin-top: 6rem;
    display: inline-block;
}

    .productcard a {
        text-decoration: none !important;
    }

    .productcard:hover {
        background-color: #e7effa !important;
        box-shadow: none;
    }

    .productcard img {
        display: block;
        margin: 0 auto;
        width: 65%;
        padding: 1rem 0;
        margin-top: 0.375rem;
    }

    .productcard p {
        color: #000000;
        font-size: 0.9375rem;
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        font-weight: 500;
    }

.altsection {
    background-color: #f0f6ff;
}

    .altsection .productcard {
        margin-top: 8rem;
    }

.aboutsection {
    padding: 5rem 0;
}

    .aboutsection p {
        font-size: 1.125rem;
        float: left;
        width: 50%;
        padding: 1rem 1rem 1rem 0;
        line-height: 2;
        margin-top: 1rem;
    }

        .aboutsection p .badge-warning {
            background-color: #FFF655 !important;
            border-radius: 0;
            color: #000;
            font-weight: 400;
            font-size: 1.125rem;
            padding: 0.25rem;
        }

    .aboutsection h6 {
        color: #0054d1;
    }

    .aboutsection h2 {
        font-size: 1.5rem;
        display: inline-block;
        color: #000;
        border-bottom: solid 5px #0078ff;
        margin-bottom: 1.5rem;
    }

    .aboutsection h3 {
        font-size: 2.5rem;
        display: inline-block;
        color: #000;
        border-bottom: solid 5px #01e8c4;
    }

    .aboutsection img {
        max-width: 50%;
    }



.counters {
    margin-top: 0;
    padding: 4rem 10rem;
    background-color: #f4faff;
}

    .counters .sectionheading h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

    .counters .sectionheading p {
        text-align: center;
        font-size: 1rem;
        color: #000;
        margin-bottom: 3rem;
    }


    .counters .countersingle img {
        margin: 0 auto;
        width: 40%;
        display: block;
        margin-top: 2rem;
    }

    .counters .countersingle p {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 300;
        color: #000;
        margin: 2rem 0 0.5rem;
        display: block;
        line-height: 1;
    }

    .counters .countersingle span {
        text-align: center;
        font-size: 1rem;
        color: #000;
        display: block;
    }

.footer {
    background-color: #fff;
    padding: 2rem 0 3rem;
}

.footerrow {
}

    .footerrow h6 {
        color: #000;
        margin: 1rem 0;
    }

    .footerrow a {
        font-size: 0.8125rem;
        color: #000;
        display: block;
        margin-bottom: 0.5rem;
        text-decoration: none;
    }

    .footerrow .contact {
        font-size: 0.75rem;
        color: #000;
        line-height: 1.5rem;
        margin-bottom: 0.25rem;
    }

.loginpage {
    background-color: #f0f6ff;
}

.loginform {
    width: 35%;
    min-height: 28rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(25, 131, 220, 0.15);
    margin: 0 auto;
    margin-top: 6rem;
    padding: 1.5rem;
}

#gobackrow .loginform {
    min-height: 0 !important;
    margin-top: 2rem !important;
}

    #gobackrow .loginform a {
        color: #000 !important;
        text-decoration: none !important;
    }

        #gobackrow .loginform a span {
            display: block;
            text-align: center;
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
        }

        #gobackrow .loginform a img {
            width: 50%;
            display: block;
            margin: 0 auto;
        }

.loginformlg {
    width: 58%;
    height: 28rem;
    padding: 0;
}

    .loginformlg .signupform {
        padding: 2rem;
    }

.signupoffer {
    background-color: rgba(240, 246, 255, 0.5);
    padding: 1rem 1.5rem !important;
    height: 34rem !important;
    border-radius: 0.5rem 0 0 0.5rem;
}

    .signupoffer p {
        line-height: 2 !important;
    }

    .signupoffer a {
        color: #8aa5c8 !important;
        text-decoration: none;
    }

.signupheading {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 1rem !important;
}

.loginform h3 {
    font-size: 1.25rem;
    text-align: center;
    color: #000;
    margin-bottom: 3rem;
    font-weight: 400;
}

.loginform label {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
}

.loginform .form-control {
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    border-color: #b8cbe8 !important;
    box-shadow: none !important;
}

    .loginform .form-control:focus {
        border-color: #0054d1 !important;
    }

.loginform ::placeholder, .signupform ::placeholder {
    font-size: 0.875rem;
    color: #ccc;
}

.loginform .btncheck {
    min-width: 6rem;
    margin: 2rem auto 0;
    display: block;
}

.loginform .loginpasslink {
    display: inline-block;
    margin: 1rem auto 0;
    color: #0054d1;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
}

.loginimg {
    max-width: 30%;
    display: block;
    margin: 30% auto 0;
}

.logincta {
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}


.btnfb svg {
    font-size: 1.125rem;
    vertical-align: text-top;
}

.btnfb, .btnfb:hover {
    background-color: #4267b2 !important;
    border-radius: 0.25rem !important;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    width: 100%;
    padding: 0.6875rem 0.25rem;
    font-size: 0.8125rem;
    font-weight: 400;
    color: #fff !important;
    margin-right: 0.5rem !important;
}

.btngoogle {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    margin-left: 0.5rem !important;
}

    .btngoogle img {
        margin-top: -2px;
    }

.loginerror {
    margin-bottom: -1rem;
    margin-top: -0.5rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: #DC281E;
}

.otpalert.alert-success {
    margin-top: -2rem !important;
    margin-bottom: 3rem !important;
    background-color: #2fc69d;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 0 !important;
}

.otpalert .close {
    font-weight: 400 !important;
    padding: 0.5625rem 1rem !important;
}

.otpalert p {
    font-size: 0.875rem !important;
    margin-bottom: 0;
}

.otpalert .alert-heading {
    font-size: 1rem !important;
    font-weight: 500;
    margin: 0 !important;
}

.loginhelptext {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 0rem;
    font-size: 0.75rem;
    color: #0054d1;
}

.fixedalert {
    top: 0 !important;
    position: fixed !important;
    width: 100% !important;
    left: 0 !important;
    z-index: 9999 !important;
    text-align: center !important;
    border-radius: 0 !important;
    color: #fff !important;
    border: 0;
}

    .fixedalert .close:hover {
        background-color: rgba(255,255,255,0.8);
    }

    .fixedalert strong {
        font-weight: 500 !important;
    }

.fixedalert-danger {
    background: #F00000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
}

    .fixedalert-danger .close {
        color: #DC281E;
        background-color: #a12020;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
        text-shadow: none;
    }

.fixedalert-success {
    background: #1D976C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
}

    .fixedalert-success .close {
        color: #1D976C;
        background-color: #0d6e4c;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
        text-shadow: none;
    }

.fixedalert-warning {
    background: #FF8008; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
}

    .fixedalert-warning .close {
        color: #FF8008;
        background-color: #aa5709;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
        text-shadow: none;
    }

@media (max-width: 575px) {
    .mobileuinav {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
	margin-top:3rem;
    }

    .fancynav {
        width: 60rem;
    }

    .accountprofile .col-form-label {
        text-align: center;
    }

    .loginform {
        width: 95%;
        padding: 1.5rem 1rem;
    }

    .btngoogle {
        margin-left: 0.5rem !important;
    }

    .btnfb {
        margin-right: 0.5rem !important;
        padding: 0.6125rem 0.25rem !important;
    }

    .loginformlg {
        min-height: 58rem;
    }

    .header {
        min-height: 100vh;
        height:auto;
        background: none !important;
    }

    .header.auth {
        min-height: 0 !important;
        height: auto;
        background: none !important;
    }

        .header .banner {
            padding: 1rem 0 !important
        }

            .header .banner h2 {
                max-width: 100%;
                font-size: 1.5rem !important;
                margin-top: 1rem !important;
                margin-left: 0 !important;
                text-align: center;
            }

                .header .banner h2 img {
                    height: 3.25rem !important
                }

            .header .banner h4 {
                text-align: center;
                color:#000 !important;
                font-size:1rem !important;
            }

            .header .banner p {
                width: 100%;
                text-align: center;
                margin-top: 0 !important;
                font-size: 1rem !important;
            }

            .header .banner h3 {
                height: 0 !important;
                display: none !important;
            }

            .header .banner .btn-primary {
                margin: 0 auto 1rem;
                display: block;
                max-width: 100%;
            }

            .header .banner .btn-primary-outline {
                margin: 0 auto 1rem;
                display: block;
                max-width: 100%;
            }

            .header .banner h6 {
                margin-left: 0 !important;
            }
    
    .header .banner .input-group {
        width: 100%;
        margin-left: 0 !important;
    }

                .header .banner .input-group .btn-primary {
                    padding: 0.6375rem 0.5rem !important;
                }

            .header .banner ul.checklist {
                padding-left: 1.5rem !important;
                margin: 1rem 0;
            }

    .bannerimg {
        width: 80% !important;
        margin-top: 20% !important;
    }

    .navbar {
        padding: 1rem !important;
    }

    .bsnav-mobile.in .navbar {
        padding: 1rem 0 !important;
    }

    .navbar-toggler {
        outline: none !important;
        box-shadow: none !important;
    }

    .navbar-brand img {
        height: 45px !important;
    }

    .bsnav-mobile-overlay {
        background-color: rgba(0,0,0,0.4);
    }

    .masterbar {
        display: none !important;
    }

    .bsnav-mobile .navbar {
        width: 275px !important;
    }

    .bsnav-mobile .navbar-nav {
        margin-top: 4rem !important;
        text-align: center;
        padding: 15px 0 !important;
    }

    .navbar-nav .nav-item.active > .nav-link {
        color: #008de1 !important;
    }

    .bsnav-mobile .navbar-nav .nav-item {
        border-bottom: solid 1px rgba(24, 149, 253, 0.09);
    }

        .bsnav-mobile .navbar-nav .nav-item .nav-link {
            color: #000;
            font-size: 1.125rem;
            padding: 1rem 0.5rem !important;
            display: block !important;
        }

            .bsnav-mobile .navbar-nav .nav-item .nav-link.login {
                color: #0054d1 !important;
                font-size: 1.125rem;
                padding: 1rem 0.5rem !important;
                background-color: #fff !important;
                display: block !important;
            }

    .profiledd {
        position: absolute !important;
    }

    .masterbarmobile {
        min-height: 2rem;
        order: 1;
    }

        .masterbarmobile a {
            padding: 0.125rem 0.5rem !important;
            border-radius: 0rem !important;
            margin: 0.25rem;
            font-size: 0.75rem;
            border: none !important;
        }

            .masterbarmobile a.btn-primary {
                background-color: #0078ff !important;
            }

            .masterbarmobile a.btn-info {
                background-color: #1895fd !important;
            }

            .masterbarmobile a.btn-success {
                background-color: #01e8c4 !important;
            }

            .masterbarmobile a.btn-secondary {
                background-color: #b4cbe3 !important;
            }

        .masterbarmobile .social {
            display: none !important;
        }

    .wealth h3, .taxes h3, .startup h3, .student h3 {
        text-align: center;
    }

    .wealth p, .taxes p, .startup p, .student p {
        text-align: center;
        max-width: 90%;
        margin: 1rem auto;
    }

    .wealth .btn-primary, .taxes .btn-primary, .startup .btn-primary, .student .btn-primary {
        margin: 0 auto;
        display: block;
        max-width: 80%;
    }

    .sectionicon {
        display: block;
        margin: 0 auto;
    }

    .productcard, .altsection .productcard {
        margin: 2rem 1rem 0;
    }

    .counters {
        margin-top: 5rem;
        padding: 4rem 0.5rem;
    }

    .offeringcard {
        margin: 1rem auto;
    }

    .aboutsection {
        padding: 5rem 0 0;
    }

        .aboutsection p, .aboutsection img {
            float: none !important;
            display: block !important;
            width: 90% !important;
            max-width: 90% !important;
            margin: 1rem auto !important;
            text-align: justify;
        }

    .dashpromos, .dashquick, .dashlist {
        padding: 1rem !important;
        border-right: none !important;
    }



    .accountprofile, .accountagreements, .accountservices, .accountinvest, .accountcourses, .accountdashboard {
        padding: 0 !important;
    }

    .dashlist .list-group-item {
        margin-bottom: 1.5rem !important;
    }

        .dashlist .list-group-item img {
            width: auto;
            height: 8rem !important;
            display: block;
            margin: 0 auto;
        }

        .dashlist .list-group-item h5 {
            text-align: center;
            margin: 1rem 0;
            width: 100%;
        }

    .dashlist .actions {
        text-align: center;
        margin-top: 1rem;
    }

    .dashlist small span {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nodata {
        padding: 1rem !important;
    }

        .nodata p {
            max-width: 85% !important;
        }

    .aboutus h3 {
        font-size: 1.75rem !important;
    }

    .abtheading {
        padding-top: 6rem !important;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    /*Calculators CSS*/
    .abc .lblhover {
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    .abc .lblhover {
    }
}