body {
    font-family: 'Poppins', sans-serif;
}

    body.authpage {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10+ and Edge */
        user-select: none;
    }
/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Questrial', sans-serif;
}*/
::placeholder {
    color: #ccc !important;
}

.masterbar {
    padding: 0 2rem;
}

.masterbar, .authpage {
    background-color: #6c757d3d;
    min-height: 2rem;
}

    .masterbar a {
        padding: 0.125rem 0.5rem !important;
        border-radius: 0rem !important;
        margin: 0.25rem;
        font-size: 0.75rem;
        border: none !important;
    }

        .masterbar a.btn-primary {
            background-color: #0078ff !important;
        }

        .masterbar a.btn-info {
            background-color: #1895fd !important;
        }

        .masterbar a.btn-success {
            background-color: #01e8c4 !important;
        }

        .masterbar a.btn-secondary {
            background-color: #b4cbe3 !important;
        }

        .masterbar a.btn-dark {
            background-color: #222 !important;
            color: #ffd800 !important;
        }

        .masterbar a.btn-danger {
            background-color: #ff69b4 !important;
        }

        .masterbar a.btn-warning {
            background-color: #ffef0a !important;
        }

    .masterbar .social a {
        color: #a3bfdd;
        font-size: 1rem !important;
        margin: 0.25rem !important;
        padding: 0 !important;
        display: inline-block;
    }

.header {
    width: 100%;
    height: 60vh;
}

.innerpageheader {
    height: 6rem;
    /*background-image: url(../images/innerpagebg.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;*/
    background-image: none;
}

.authpage .navigation {
    background-color: #1895FD;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .nav-scroller .nav-link {
        padding: 0.5rem 1rem !important;
        color: #fff !important;
        margin-top: 0.5rem;
    }

        .nav-scroller .nav-link.active {
            color: #000 !important;
            background-color: #f1f7fd;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .nav-scroller .nav-link .lnr {
            fill: currentColor;
            color: #fff !important;
            width: 1.25rem !important;
            height: 1.25rem !important;
            vertical-align: text-bottom;
            margin-right: 0.5rem;
        }

        .nav-scroller .nav-link.active .lnr {
            color: #000 !important;
        }

.navbar {
   padding: 0.75rem 2rem !important;
   top: 0;
      
}
.navbar-brand img {
    height: 45px !important;
}

.nav-link {
    font-size: 0.9375rem;
    color: #000 !important;
    padding: 0.5rem 0.875rem !important;
    font-weight: 400;
}

    .nav-link.login, .nav-link.signup {
        font-size: 0.875rem;
        background-color: #009CF9; /*#008de1*/
       border-radius: 10px;
        color: #fff !important;
        margin: 0 0.5rem;
    }

.innerpageheader .nav-link {
    color: #000 !important;
}

    .innerpageheader .nav-link.login, .nav-link.signup {
        background-color: #1895fd;
        color: #FFF !important;
    }

.learnfeatures {
    margin: 3rem 0;
    border-top: solid 1px rgba(0, 156, 249, 0.09);
    padding: 2rem 0;
}

    .learnfeatures img {
        padding: 2rem;
    }

    .learnfeatures h5 {
        margin-top: 2rem;
        font-size: 1.5rem !important
    }

    .learnfeatures p {
        font-size: 1.0625rem;
        line-height: 1.75;
    }

.mastcontent {
    margin-top: -1px;
}

    .mastcontent .nav-link {
        color: #000 !important;
    }

        .mastcontent .nav-link.login, .nav-link.signup {
            background-color: #1895fd;
            color: #fff !important;
        }

.bsnav-sticky.bsnav-sticky-fade.sticked.in {
    top: 0;
    box-shadow: 0 1px 15px rgba(20, 94, 175, 0.1) !important;
}

.shrink-nav {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    .shrink-nav .navbar-collapse {
        margin-top: 0;
    }

    .shrink-nav .nav-item .nav-link {
        color: #000 !important;
    }

    .shrink-nav .nav-link.login, .shrink-nav .nav-link.signup {
        font-size: 0.75rem;
        background-image: linear-gradient(to right, #3147ff 0%, #0e85ff 100%);
        border-radius: 1rem;
        color: #fff !important;
        margin: 0 0.5rem;
    }


.header .banner {
    padding: 1.5rem;
}

    .header .banner h2 {
       
        margin-top: 18%;
    font-size: 1.4rem;
    font-weight: 400;
    color: #5c5e61;
    max-width: 90%;
    margin-left: 0.75rem;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
    

           .header .banner h2 strong {
  
        font-weight: 800;
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(16 87 179);
    text-transform: capitalize;
}
    
    .header .banner p {
        margin-left: 0.75rem;
        margin-top: 1rem;
        font-size: 0.9375rem;
        color: #000;
        width: 70%;
        font-weight: 400;
    }

    .header .banner .input-group {
        margin-left: 1rem;
        width: 50%;
    }

        .header .banner .input-group input[type=text] {
            border-color: #B4CBE3;
        }

            .header .banner .input-group input[type=text]::placeholder {
                color: #B4CBE3 !important;
                font-size: 0.875rem;
            }

ul.checklist {
    list-style: none;
    margin: 1.5rem 0;
	padding-left:10px;
}

ul.checklist li {
	font-size: 1.1rem !important;
	line-height: 1.8 !important;
	display: flex;
}

        ul.checklist li:before {
            font-family: 'Font Awesome 5 Free';
            content: '\f058';
            margin: 0 10px 0 -15px;
            color: #22a754;
            font-weight: 900 !important;
        }

.header .categories {
    margin-top: 5rem;
}

    .header .categories .categoriesingle {
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 20px rgba(24, 149, 253, 0.15);
        height: 5rem;
        width: 13rem;
        float: left;
        margin-right: 1rem;
    }

        .header .categories .categoriesingle img {
            height: 3rem;
            margin: 1rem 0.5rem 1rem 1rem;
            float: left;
        }

        .header .categories .categoriesingle span {
            display: inline-block;
            font-size: 0.875rem;
            float: left;
            text-align: center;
            font-weight: 500;
            margin-top: 1.875rem;
            color: #233287;
        }

.bannerimg {
    width: 80%;
    margin-top: 10%;
}



.topmenu {
    background: linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0)78%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%);
    padding: 0;
    min-height: 6rem;
    z-index: 10;
}

.pagebanner {
    margin-top: -6rem;
}

    .pagebanner .blogbanner {
        max-height: 13rem !important;
        overflow: hidden;
    }

    .pagebanner img {
        position: absolute;
        z-index: -1;
        top: 0;
    }

    .pagebanner h1 {
        font-size: 1.5rem;
        font-weight: 300;
        color: #fff;
        margin-left: 35%;
    }

    .pagebanner span {
        margin-top: 12rem;
        font-weight: 500;
        font-size: 0.875rem;
        color: #fff;
        margin-left: 35%;
        display: block;
    }

.pagecontent {
    padding: 2rem 0;
    /*margin-top: 5rem;*/
}

    .pagecontent p, .pagecontent ul li {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

.btn-primary {
    font-size: 0.9375rem;
    background-color: #1895fd;
    border-radius: 0.5rem;
    color: #FFF !important;
    margin: 0 0.5rem;
    border: none !important;
    outline: none !important;
    padding: 0.6375rem 1.5rem;
}

    .btn-primary svg {
        margin: 0 0.5rem;
    }

.btn-glow {
    box-shadow: 0 0 35px rgba(24, 149, 253, 0.45);
}



.coursesinner {
    margin-top: 2rem;
    padding: 4rem 0;
    position: relative;
}

.courses .sectionheading h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.courses .sectionheading p {
    text-align: center;
    font-size: 0.9375rem;
    color: #a6c5e4;
    margin-bottom: 3rem;
}

.coursecard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow:0 0px 5px rgba(214, 214, 214, 0.8);
    position: relative;
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
}

.overflowhack {
    overflow-x: hidden;
}

.coursecard .courseimg {
    max-width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
	position: relative;
}

.coursecard .courseimg img {
	width: 100%;
}

.coursecard .coursecontent {
    background-color: #FFFFFF;
    height: 38%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 2;
}

    .coursecard .coursecontent:before {
        content: "";
        display: block;
        height: 130px;
        width: 130%;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        position: absolute;
        top: -25px;
        left: 50%;
        background-color: #fff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: -1;
    }

.coursecard .coursedetails > * {
    z-index: 100;
    position: relative;
}

.coursecard .courseicon {
    display: block;
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: -5rem auto 1rem;
    background-color: #233287;
    border: solid 2px #fff;
}

    .coursecard .courseicon img {
        padding: 1.375rem !important;
        filter: brightness(0) invert(1) !important;
    }

.coursecard .coursename {
    font-size: 17px;
    color: #000;
    margin: 5px 5px 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 25px;
	text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.coursecard .coursehighlights {
    width: 31.5%;
    display: inline-block;
    text-align: center;
}

    .coursecard .coursehighlights svg {
        color: #2376c9;;
        width: 1rem;
        height: 1rem;
    }

    .coursecard .coursehighlights p {
        color: #000;
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

.coursecard .badge-warning {
    border-radius: 0 0.25rem 0.25rem 0;
    margin-top: 1rem;
 background: linear-gradient(179deg, rgba(14,83,177,1) 19%, rgba(35,119,201,1) 98%) !important;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    transition: ease 0.5s;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.coursecard .cardlinks {
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
}

.coursecard .detaillink {
    color: #aaa;
    font-size: 0.875rem;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.enrollbtn {
    background: linear-gradient(179deg, rgba(14,83,177,1) 19%, rgba(35,119,201,1) 98%) !important;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
    display: block;
    padding: 10px 10px;
}

    .enrollbtn svg {
        color: #fff;
        width: 1.25rem !important;
        height: 1.25rem !important;
        margin-right: 0.75rem;
        vertical-align: sub;
        transition: ease 0.5s;
    }

    .enrollbtn:hover {
        background-color: rgb(0,173,80);
    }

    .enrollbtn.pricebtn {
        position: relative !important;
        bottom: 0 !important;
        left: 1.25rem !important;
        transform: none !important;
        font-size: 1.125rem !important;
        padding: 0.5rem 1.5rem;
    }

.coursecard:hover .badge-warning {
    background-color: #ccc;
    color: #FFF;
}

.coursecard:hover .enrollbtn svg {
    transform: scale(1.5);
}


.homemodal .modal-dialog {
    max-width: 40% !important;
}

.homemodal .modal-header {
    background-image: url(/socialseller/images/modal-banner.jpg);
    color: #fff;
    border-radius: 0 !important;
    min-height: 8rem;
    flex-direction: column;
    justify-content: center !important;
    border: none !important;
    background-size: contain;
}

    .homemodal .modal-header .close {
        position: absolute;
        right: 3%;
        top: 2%;
        color: #fff;
        text-shadow: none;
    }

    .homemodal .modal-header .modal-title {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 1.75rem;
        font-weight: 500;
    }

    .homemodal .modal-header span {
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 300;
    }

    .homemodal .modal-header .close span {
        font-size: 2rem;
    }

.homemodal .modal-footer {
    border: none !important;
    justify-content: center;
}

    .homemodal .modal-footer span {
        color: rgba(49, 71, 255, 0.5);
        font-size: 0.75rem;
        display: block;
        text-align: center;
    }

.homemodal .modal-body .form-group {
    margin-bottom: 0.5rem !important;
}

.homemodal .modal-body .form-control {
    border: solid 1px rgba(24, 149, 253, 0.6);
    border-radius: 0.5rem;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.homemodal .modal-body .btn {
    border-radius: 0;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    font-size: 0.875rem;
    width: 10rem;
    display: block;
    margin: 1rem auto 0;
}

.counters {
    margin-top: 5rem;
    padding: 4rem 10rem;
}

    .counters .sectionheading h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .counters .sectionheading p {
        text-align: center;
        font-size: 0.9375rem;
        color: #aaa;
        margin-bottom: 3rem;
    }


    .counters .countersingle img {
        margin: 0 auto;
        width: 40%;
        display: block;
        margin-top: 2rem;
    }

    .counters .countersingle p {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 300;
        color: #000;
        margin: 2rem 0 0.5rem;
        display: block;
        line-height: 1;
    }

    .counters .countersingle span {
        text-align: center;
        font-size: 0.875rem;
        color: #1aa8ff;
        display: block;
    }


.whyus {
    background-image: url(/socialseller/images/bgwhyus.png);
    min-height: 38rem;
    background-size: 100% !important;
    margin: 3rem 0;
    background-repeat: no-repeat;
}


    .whyus .sectionheading h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 7rem;
    }

    .whyus .sectionheading p {
        text-align: center;
        font-size: 0.9375rem;
        color: rgba(0, 83, 139, 0.4);
        margin-bottom: 3rem;
    }

    .whyus .imgwhyfin {
        max-width: 70%;
        margin-left: 10rem;
        margin-top: 3rem;
    }

    .whyus .whysingle {
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 1px 2px 2px rgba(0, 83, 139, 0.15);
        width: 10rem;
        height: 5rem;
        background-color: #fff;
        float: left;
    }

        .whyus .whysingle svg {
            color: #009CF9;
            font-size: 1.5rem;
            float: left;
            display: block;
            margin: 1.75rem 1rem 1.75rem 1.5rem;
        }

        .whyus .whysingle span {
            font-size: 0.75rem;
            font-weight: 500;
            display: block;
            width: 50%;
            text-align: center;
            float: left;
            margin-top: 1.5rem;
        }





.footerrow {
    margin: 2rem 0 3rem;
}

    .footerrow h6 {
        color: #fff;
        margin: 1rem 0;
        font-weight: 600;
    }

    .footerrow a {
        font-size: 0.875rem;
        color: #fff;
        display: block;
        margin-bottom: 0.5rem;
        text-decoration: none;
    }

    .footerrow .contact {
        font-size: 0.75rem;
        color: #fff;
        line-height: 1.5rem;
        margin-bottom: 0.25rem;
    }

.footercontent {
    padding: 1rem;
    font-size: 0.75rem;
    color: #aaa;
    line-height: 2 !important;
    text-align: justify;
}

    .footercontent h6 {
        font-size: 0.875rem;
    }

.career {
    background-image: url(socialseller/images/careerimg.png);
    min-height: 25rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

    .career .sectionheading h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 3rem;
    }

    .career .sectionheading p {
        text-align: center;
        font-size: 0.9375rem;
        color: rgba(0, 83, 139, 0.4);
    }

    .career .careercontent {
        padding: 4rem 5rem 7rem;
    }

        .career .careercontent h4 {
            font-size: 1.5rem;
            font-weight: 300;
        }

        .career .careercontent p {
            color: #000;
            font-size: 1rem;
            line-height: 1.75;
        }

        .career .careercontent a {
            background-color: #009CF9;
            color: #FFF;
            font-size: 0.9375rem;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            text-decoration: none;
            border: none;
            box-shadow: none;
            outline: none;
            display: block;
            width: 35%;
            text-align: center;
            margin: 2rem 0 0;
        }

            .career .careercontent a:hover {
                background-color: #008de1;
            }

.training {
   background: linear-gradient(90deg, rgba(0,173,80,1) 0%, rgba(1,150,70,1) 2%, rgba(3,232,109,1) 100%);
    padding: 3rem 0;
}

    .training .sectionheading h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 1rem;
        color: #FFF;
    }

    .training .sectionheading p {
        text-align: center;
        font-size: 0.9375rem;
        color: #646468;
    }

    .training .trainingcontent {
        padding: 3rem 0;
    }

        .training .trainingcontent .border-right {
            border-color: rgba(255,255,255,0.2) !important;
        }

        .training .trainingcontent h4 {
            font-weight: 400;
            font-size: 1.25rem;
            text-align: center;
            color: #fff;
            padding-bottom: 2rem;
            text-transform: uppercase;
        }

        .training .trainingcontent img {
            display: block;
            padding: 1rem 0;
            max-width: 5rem;
            margin: 0 auto;
        }

        .training .trainingcontent p {
            padding: 0 3rem;
            color: #FFFFFF;
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.5;
            text-align: center;
        }

        .training .trainingcontent a {
            color: rgba(35, 50, 135, 1);
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            margin: 1.5rem auto 3rem;
            display: block;
            width: 30%;
            text-decoration: none;
            background-color: #FFF;
        }

            .training .trainingcontent a:hover {
                background-color: #eee;
            }


.sidebar {
    background-color: #FFF;
    border-radius: 1rem;
    min-height: 80vh;
    box-shadow: 0 0 30px rgba(0, 112, 210, 0.1);
    margin-top: -8rem;
    max-width: 95%;
    padding: 0.5rem;
}

    .sidebar .highlights {
        padding: 1rem;
    }

        .sidebar .highlights h3 {
            font-weight: 400;
            font-size: 1.125rem;
            margin-bottom: 1rem;
        }

        .sidebar .highlights ul {
            list-style: none;
            padding-left: 1.75rem;
        }

            .sidebar .highlights ul li {
                line-height: 2;
                font-size: 0.9125rem;
            }

                .sidebar .highlights ul li:before {
                    content: "\f058"; /* FontAwesome Unicode */
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    display: inline-block;
                    margin-left: -1.5rem; /* same as padding-left set on li */
                    width: 1.3rem; /* same as padding-left set on li */
                    color: #1895fd;
                    margin-right: 0.25rem;
                }

.fixedsidebar {
    position: fixed;
    top: 25%;
}

.fixedsidebaralt {
    position: fixed;
    top: -2rem;
}


.cpenrollbtn {
    background-color: #1686e4;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    bottom: 0rem;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    margin-left: -0.5rem;
}

    .cpenrollbtn svg {
        color: #fff;
        width: 1.25rem !important;
        height: 1.25rem !important;
        margin-right: 0.5rem;
        vertical-align: sub;
    }

    .cpenrollbtn:hover {
        background-color: #233287;
    }

.maincontent {
    min-height: 100vh;
}

.mastsidebar {
    position: absolute;
    background: linear-gradient(179deg, rgba(14,83,177,1) 19%, rgba(35,119,201,1) 98%) !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 9999;
}

    .mastsidebar.position-fixed {
        width: 25%;
    }

.mastcontent {
    background-color: #fff;
}

.mastsidebarmobile {
    Background: linear-gradient(179deg, rgba(14,83,177,1) 19%, rgba(35,119,201,1) 98%) !important;
    padding-top: 2rem;
}

.mastsidebar .btnbackcourses {
    margin: 1rem 0 4rem 2rem;
    color: #fff !important;
    font-size: 0.9375rem;
    text-decoration: none;
    display: inline-block;
}

.btnnextchap {
    margin-top: 5rem !important;
    color: #fff !important;
}

.mastsidebar .highlights, .mastsidebarmobile .highlights {
    padding: 1rem;
    color: #fff;
    margin-left: 1rem;
}

    .mastsidebar .highlights h3, .mastsidebarmobile .highlights h3 {
        font-weight: 600;
        font-size: 1.125rem;
        margin-bottom: 1rem;
        color: #FFF;
    }

    .mastsidebar .highlights ul, .mastsidebarmobile .highlights ul {
        list-style: none;
        padding-left: 1.75rem;
    }

        .mastsidebar .highlights ul li, .mastsidebarmobile .highlights ul li {
            line-height: 2;
            font-size: 0.9125rem;
            color: #FFF;
        }

            .mastsidebar .highlights ul li:before, .mastsidebarmobile .highlights ul li:before {
                content: "\f058"; /* FontAwesome Unicode */
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                display: inline-block;
                margin-left: -1.5rem; /* same as padding-left set on li */
                width: 1.3rem; /* same as padding-left set on li */
                color: #FFF;
                margin-right: 0.25rem;
            }

.mastsidebar .enrollcourse {
    background-color: #0e53b1;
    color: #FFF;
    padding: 1.2rem 1.2rem;
    border-radius: 0.2rem;
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
    display: block;
    box-shadow: 0 1px 5px rgb(233 214 214 / 5%);
    text-align: center;
}

    .mastsidebar .enrollcourse svg {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

.mastsidebar .videowrapper {
   background-color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px rgba(49, 132, 182, 0.21);
    width: 100%;
    margin: 0 -2rem 2rem 0;
    float: right;
}
.mastsidebarmobile .videowrapper {
    background-color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px rgba(49, 132, 182, 0.21);
    width: 90%;
    margin: 0 auto 2rem;
}

.mastsidebar .videointro, .mastsidebarmobile .videointro {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .mastsidebar .videointro iframe, .mastsidebarmobile .videointro iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.authpage .courseheader {
    background-color: transparent;
    padding-bottom: 0;
    box-shadow: none;
}

.authpage .syllabus {
    padding: 0 2rem;
}

.courseheader {
    padding: 6rem 0 2.5rem 1.5rem;
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.03);
}

    .courseheader hr {
        border: none;
        border-bottom: solid 1px #dedede;
        width: 95%;
        float: left;
        margin-top: 1.125rem;
    }

    .courseheader span, .topiccontent .contentheader span {
        color: #1895fd;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        display: block;
    }

    .courseheader h1 {
        font-size: 2.5rem;
        color: #000;
        font-weight: 300;
    }

    .courseheader p.lead {
        font-size: 0.9375rem;
        text-align: justify;
        width: 90%;
        margin-bottom: 0.5rem;
        font-weight: 400;
        color: #999;
    }

    .courseheader span.coursefeatures {
        display: inline-block;
        margin-right: 0.5rem;
        color: #000 !important;
        font-size: 0.9375rem !important;
        font-weight: 500 !important;
    }

        .courseheader span.coursefeatures svg {
            margin-right: 0.25rem;
            color: #009CF9;
        }

    .courseheader .courseprice, .courseheader .enrollcourse {
        background-color: #fff653;
        display: inline-block;
        color: #000 !important;
        font-weight: 500;
        font-size: 1rem;
        margin-top: 0.5rem;
        float: left;
    }

    .courseheader .courseprice {
        padding: 0.625rem 1rem;
        font-family: 'Montserrat', sans-serif;
    }

        .courseheader .courseprice svg, .courseheader .enrollcourse svg {
            color: #000;
            width: 1.125rem !important;
            height: 1.125rem !important;
            margin-right: 0.5rem;
        }

    .courseheader del {
        font-size: 1.125rem;
        float: left;
        color: #999;
        margin-top: 0.875rem;
        margin-right: 1rem;
        font-family: 'Montserrat', sans-serif;
    }


.courseheader .courseprice svg {
    float: left;
    margin-bottom: 0;
    display: inline-block;
}

.courseheader .courseprice {
    margin-bottom: 0;
    color: #000 !important;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1;
}

.courseheader .enrollcourse {
    text-decoration: none !important;
    background-color: #009CF9;
    /*box-shadow: 0 0 25px rgba(35, 50, 135, 0.2);*/
    margin-left: 1.25rem;
    color: #fff !important;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
}

    .courseheader .enrollcourse svg {
        color: #fff;
    }

.coursedesc {
    clear: both;
    padding: 2rem 0 2rem 4rem;
    font-size: 0.875rem !important;
    width: 95%;
    color: #000;
}


.coursesell {
    background-color: #ffffff;
    min-height: 10rem;
    display: block;
    margin: 0 0 1.5rem 0;
    text-align: center;
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 1px 2px 3px 0 rgba(108, 173, 204, 0.25);
}

    .coursesell img {
        margin: 0 auto;
        display: block;
        height: 5rem;
    }

    .coursesell svg {
        margin: 0 auto;
        color: #a3b5c3;
    }

    .coursesell p {
        font-size: 1.6rem;
    text-align: center;
    margin: 1rem 0;
    color: #8c8b8b;
    font-weight: 400;
    }

.coursesection {
    padding: 2rem 3rem 2rem 5rem;
}

    .coursesection.apppage {
        padding: 0rem 3rem 2rem;
    }

    .coursesection.alt {
        background-color: #fff;
    }

    .coursesection h2 {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        display: inline-block;
        font-size: 1.75rem;
        font-weight: 500;
        
        position: relative;
       
       
    }

    .coursesection p, .coursesection ul li {
       
        text-align: justify;
        font-weight: 400;
        color: #222;
        max-width: 100%;
    }

    .coursesection p {
        margin-bottom: 10px;
    }

.coursechapter {
    border-bottom: solid 1px #bbb;
    margin-bottom: 2rem;
}

    .coursechapter span {
        color: #3147ff;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        display: block;
    }

    .coursechapter h1 {
        font-size: 1.5rem;
        color: #000;
        font-weight: 300;
    }

.downloaditem {
    border-radius: 0.5rem;
    background-color: #fff;
    min-height: 8rem;
    box-shadow: 0 0px 10px rgba(36, 102, 178, 0.1);
    margin-bottom: 2rem;
}

    .downloaditem .fileicon {
        width: 8rem;
        height: 8rem;
        float: left;
        display: block;
        text-align: center;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding: 2.125rem 1rem;
    }

        .downloaditem .fileicon img {
            max-width: 60%;
            margin: 0 auto;
            mix-blend-mode: soft-light;
        }

    .downloaditem .downloadicon img {
        max-width: 2rem;
        float: left;
        display: block;
        opacity: 0.3;
        margin-top: 2.75rem;
        margin-left: 1rem;
    }

    .downloaditem .downloadicon:hover img {
        opacity: 0.7;
    }

    .downloaditem .filedetails {
        float: left;
        display: block;
        max-width: 60%;
        padding: 1.5rem 1rem;
    }

        .downloaditem .filedetails p {
            line-height: 1.25 !important;
            text-align: left !important;
            font-size: 1rem !important;
        }

.excelicon {
    background-color: #4CAF50 !important;
}

.wordicon {
    background-color: #1565C0 !important;
}

.ppticon {
    background-color: #FF5722 !important;
}

.pdficon {
    background-color: #F44336 !important;
}

.videoicon {
    background-color: #FF9800 !important;
}

.zipicon {
    background-color: #771E9D !important;
}

.mastsidebar .topicslist {
    padding-left: 2rem;
    margin-top: -2rem;
}

    .mastsidebar .topicslist h3 {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1rem;
        color: rgba(255,255,255,0.5);
    }

    .mastsidebar .topicslist hr {
        max-width: 15%;
        border-bottom: solid 1px rgba(255,255,255,0.5);
        margin: 0;
    }

#vertical-timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

    #vertical-timeline:after {
        content: '';
        border: 3px solid rgba(255,255,255,0.4);
        height: 100%;
        position: absolute;
        top: 1px;
        left: 10px;
        z-index: -1;
    }

    #vertical-timeline li {
        margin-top: 1.5rem;
    }

        #vertical-timeline li .marker {
            margin-top: 1.5rem;
            width: 25px;
            height: 25px;
            display: block;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            z-index: 1;
            background-color: #7CC5F0;
        }

        #vertical-timeline li.active .marker {
            background-color: #FFF;
        }

        #vertical-timeline li .content {
            margin-left: 50px;
            margin-top: -25px;
        }

            #vertical-timeline li .content a {
                text-decoration: none !important;
                color: #fff;
                font-size: 0.875rem;
                font-weight: 400;
            }

.topiccontent {
    font-size: 1rem !important;
    line-height: 2 !important;
    padding-left: 3rem !important;
    padding: 3rem !important;
    margin: 1rem 2.5rem 2rem !important;
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.03);
    width: 91%;
}

    .topiccontent .contentheader h1 {
        border-bottom: solid 1px #eee;
        width: 100%;
        margin-bottom: 1.5rem;
        padding-bottom: 0.5rem;
        color: #000;
        font-weight: 300;
        font-size: 1.5rem;
    }

        .topiccontent .contentheader h1 span {
            font-size: 0.875rem;
            float: right;
        }

    .topiccontent p {
        text-align: justify;
    }

        .topiccontent img, .topiccontent p img {
            max-width: 100% !important;
            height: auto !important;
            margin: 0 auto;
            display: block;
        }

    .topiccontent figure.centerwrap {
        display: block;
        width: 90%;
        margin: 1rem auto;
    }

    .topiccontent figure.leftwrap {
        width: 35%;
        padding: 1.5rem;
        float: left;
    }

    .topiccontent figure.rightwrap {
        width: 35%;
        padding: 1.5rem;
        float: right;
    }

    .topiccontent figure img {
        max-width: 100% !important;
        height: auto !important;
        margin: 0 auto;
        display: block;
    }

    .topiccontent figure figcaption {
        text-align: center;
        font-size: 0.75rem;
        color: #aaa;
        font-style: italic;
        margin-bottom: 2rem;
    }

    .topiccontent table {
        font-size: 0.875rem !important;
        width: 100% !important;
    }

        .topiccontent table td p {
            margin: 0 !important;
            text-align: left !important;
        }

    .topiccontent blockquote {
        color: #1895fd !important;
        font-size: 1.125rem !important;
        line-height: 1.5 !important;
        font-style: italic !important;
        border-left: solid 4px #1895fd !important;
        padding: 1rem !important;
        margin: 2rem 0 !important;
        font-weight: 300;
    }


/*Timer control*/
.testbox {
    padding-top: 4rem !important;
}

.timer, .timer-done, .timer-loop {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 700;
    padding: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #11e95b;
    margin-top: -4rem;
    min-width: 8rem;
    line-height: 1;
    border-radius: 0 0 0.5rem 0.5rem;
}

.assesstimer {
    margin-top: -3rem !important;
}

.timerhead {
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    clear: both;
    text-align: center;
    margin-bottom: 0.25rem;
}

.jst-hours {
    float: left;
    margin-left: 0.25rem;
}

.jst-minutes {
    float: left;
}

.jst-seconds {
    float: left;
}

.jst-clearDiv {
    clear: both;
}

.jst-timeout {
    color: #a9ffad;
}

.printmsg {
    display: none !important;
}

.syllabus .card {
    border-color: #F1F7FD !important;
    border: none;
    background-color: transparent;
}

    .syllabus .card .card-header {
        padding: 0.75rem 1rem;
        background-color: #FFF !important;
        border: none;
        margin-bottom: 1rem;
        box-shadow: 1px 2px 3px rgba(49, 132, 182, 0.1);
    }

    .syllabus .card:last-of-type .card-header:first-child {
        border: none !important;
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }

    .syllabus .card .card-header h5 .btn-link {
        color: #008de1;
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 500;
        display: block;
        width: 100%;
        text-align: left;
        white-space: normal;
    }

.syllabus.apppage .card .card-header h5 .btn-link {
    display: inline-block;
    width: 87%;
}

.syllabus.offerpage .card .card-header h5 .btn-link {
    display: inline-block;
    width: 100% !important;
}

.syllabus.apppage .card .card-header h5 .btn-link small {
    float: right;
    color: #abbfd3;
}

.syllabus.apppage .card .card-header h5 .btn-success {
    background-color: #11e95b;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border: 0;
    margin-top: 0.5rem;
}

.syllabus.apppage .card .card-header h5 svg {
    color: #cdd3dd;
}

    .syllabus.apppage .card .card-header h5 svg.active {
        color: #13cd52;
    }

.syllabus.apppage .card .card-header h5 .btn-success svg {
    color: #fff !important;
}

.syllabus .card .card-body {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 0.9375rem;
    line-height: 2;
    padding: 0.875rem 0.5rem 0.125rem;
    margin: -1rem 0 1rem;
}

    .syllabus .card .card-body ol li {
        /*display: inline-block;
            background-color: #999;
            border-radius: 0.5rem;
            margin: 1rem 1rem 0 0;
            padding: 0.125rem 1rem;
            color: #fff;*/
        font-size: 1rem;
    }


.pageheading {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

.questionbox h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}


.answerList {
    margin-bottom: 15px;
    list-style: none;
    padding-left: 0;
}

    .answerList li:first-child {
        border-top-width: 0;
    }

    .answerList li {
        padding: 0.25rem 0;
    }

    .answerList label {
        display: block;
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: solid 1px #dde7e8;
        font-weight: 400;
        font-size: 1rem;
        cursor: pointer;
    }

        .answerList label:hover {
            background-color: #dde7e8;
        }

        .answerList label.active {
            background-color: #c3e0fa !important;
            color: #fff !important;
            border-color: #9dcaef;
        }

input[type=checkbox], input[type=radio] {
    margin-right: 1rem;
    line-height: normal;
}

.btnnext {
    background-color: #1895fd;
    color: #FFF;
    padding: 0.375rem 1.5rem;
}
.btnskip {
    background-color: #c8c2c2;
    color: #FFF;
    padding: 0.375rem 1.5rem;
}

.btnfinish {
    background-color: #11e95b;
    color: #FFF;
    padding: 0.375rem 1.5rem;
}

.result {
    padding: 2rem;
}

    .result h3 {
        color: #bfc8cf;
        font-size: 1.25rem;
        margin-top: -1rem;
        font-weight: 400;
    }

    .result .btn-info {
        background-color: #1895fd;
        border: none;
    }

.scoresingle {
    min-width: 14%;
    display: inline-block;
    float: left;
    padding: 4rem 1.5rem 0;
    text-align: center;
}

    .scoresingle h6 {
        color: #1895fd;
        font-size: 2rem;
        font-weight: 300;
    }

    .scoresingle span {
        color: #000;
        font-size: 0.75rem;
        text-align: center;
        display: block;
        width: 100%;
        font-weight: 500;
    }

.check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

    .sa-icon.sa-success {
        border-color: #11e95b;
    }

        .sa-icon.sa-success::before, .sa-icon.sa-success::after {
            content: '';
            -webkit-border-radius: 40px;
            border-radius: 40px;
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            background: white;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sa-icon.sa-success::before {
            -webkit-border-radius: 120px 0 0 120px;
            border-radius: 120px 0 0 120px;
            top: -7px;
            left: -33px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .sa-icon.sa-success::after {
            -webkit-border-radius: 0 120px 120px 0;
            border-radius: 0 120px 120px 0;
            top: -11px;
            left: 30px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0px 60px;
            transform-origin: 0px 60px;
        }

        .sa-icon.sa-success .sa-placeholder {
            width: 80px;
            height: 80px;
            border: 4px solid rgba(17, 233, 91, 0.50);
            -webkit-border-radius: 40px;
            border-radius: 40px;
            border-radius: 50%;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2;
        }

        .sa-icon.sa-success .sa-fix {
            width: 5px;
            height: 90px;
            background-color: white;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sa-icon.sa-success.animate::after {
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in;
        }

    .sa-icon.sa-success {
        border-color: transparent\9;
    }

        .sa-icon.sa-success .sa-line.sa-tip {
            -ms-transform: rotate(45deg) \9;
        }

        .sa-icon.sa-success .sa-line.sa-long {
            -ms-transform: rotate(-45deg) \9;
        }

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #11e95b;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

    .sa-icon.sa-success .sa-line.sa-tip {
        width: 25px;
        left: 14px;
        top: 46px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sa-icon.sa-success .sa-line.sa-long {
        width: 47px;
        right: 8px;
        top: 38px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

.img-wrap {
    text-align: center;
    display: block;
}

    .img-wrap img {
        max-width: 100%;
    }

article:after {
    display: block;
    clear: both;
    content: "";
}

[class*="dlist-"] {
    margin-bottom: 5px;
}

    [class*="dlist-"] dd {
        margin-bottom: 0;
    }

.dlist-align {
    display: inline-block;
    float: left;
}

    .dlist-align dt {
        width: 10rem;
        float: left;
        word-wrap: break-word;
    }

    .dlist-align dd {
        vertical-align: baseline;
    }

.card-product {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(24, 149, 253, 0.15);
    border: none;
    margin-bottom: 5rem;
    padding: 1rem;
}

    .card-product:after {
        content: "";
        display: table;
        clear: both;
        visibility: hidden;
    }

    .card-product .img-wrap {
        overflow: hidden;
        position: relative;
        text-align: center;
    }

        .card-product .img-wrap img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            display: inline-block;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 0.25rem;
        }

    .card-product .action-wrap {
        padding-top: 4px;
        margin-top: 4px;
    }

    .card-product .title {
        margin-top: 0.5rem;
    }

    .card-product .badge {
        padding: 0.375rem 0.75rem !important;
        font-weight: 500;
    }

.card .img-wrap {
    overflow: hidden;
}

.price {
    display: block;
}

.price-old {
    color: #b4cbe3;
    font-size: 1rem;
}

.label-rating {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.rating-stars {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    white-space: nowrap;
    clear: both;
}

    .rating-stars i {
        font-size: 14px;
        color: #ccc;
        display: inline;
    }

    .rating-stars li {
        display: block;
        text-overflow: clip;
        white-space: nowrap;
        z-index: 1;
    }

        .rating-stars li.stars-active {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

            .rating-stars li.stars-active i {
                color: orange;
            }




.faqinner {
    margin: 0 5rem;
    padding-bottom: 3rem;
}

.faq .accordion {
    width: 100%;
}

.faq .card {
    border-radius: 0.5rem !important;
    margin: 0.5rem 0 !important;
    border: none !important;
    box-shadow: 1px 2px 3px rgba(24, 149, 253, 0.1);
}

.faq .card-header {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem !important;
    background-color: #FFF;
    border: none !important;
}

    .faq .card-header svg {
        color: #1d6dc2;
        margin-right: 0.5rem;
    }

    .faq .card-header h5 {
        margin: 0;
    }

        .faq .card-header h5 button {
            display: block;
            width: 100%;
            padding: 0;
            border: 0;
            font-weight: 600;
            color: #000;
            text-align: left;
            white-space: normal;
        }

            .faq .card-header h5 button:hover, .faq .card-header h5 button:focus, .faq .card-header h5 button:active, .faq .card-header h5 button:hover:active {
                text-decoration: none;
            }

.faq .card-body {
    padding: 1.5rem;
}

    .faq .card-body p {
        color: #555;
    }

        .faq .card-body p:last-of-type {
            margin: 0;
        }

.faq .accordion .card:first-of-type {
    border-radius: 0.5rem !important;
}

faq .accordion > .card:not(:first-child) {
    border-top: 0;
}

faq .collapse.show .card-body {
    border-bottom: 0;
}



@media (max-width: 575px) {
    .navbar {
        padding: 1rem !important;
    }

    .bsnav-mobile.in .navbar {
        padding: 1rem 0 !important;
    }

    .navbar-toggler {
        outline: none !important;
        box-shadow: none !important;
    }

    .navbar-brand img {
        height: 45px !important;
    }

    .bsnav-mobile-overlay {
        background-color: rgba(0,0,0,0.4);
    }

    .masterbar {
        display: none !important;
    }

    .bsnav-mobile .navbar {
        width: 275px !important;
    }

    .bsnav-mobile .navbar-nav {
        margin-top: 4rem !important;
        text-align: center;
        padding: 15px 0 !important;
    }

    .bsnav-mobile.in .navbar.authnavbar {
        justify-content: start !important;
        width: 100% !important;
    }

    .bsnav-mobile .navbar-nav.authnav {
        margin-top: 0 !important;
        padding-left: 2rem;
    }

    .bsnav-mobile .navbar-nav .nav-item {
        border-bottom: solid 1px rgba(24, 149, 253, 0.09);
    }

    .navbar-nav .nav-item.active > .nav-link {
        color: #008de1 !important;
    }

    .bsnav-mobile .navbar-nav .nav-item .nav-link {
        color: #000;
        font-size: 1.125rem;
        padding: 1rem 0.5rem !important;
        display: block !important;
    }

        .bsnav-mobile .navbar-nav .nav-item .nav-link.login {
            color: #fff !important;
            font-size: 1.125rem;
            padding: 1rem 0.5rem !important;
            background-color: #fff !important;
            display: block !important;
        }

    .innerpageheader {
        height: 6rem !important;
    }

    .header {
        height: auto;
    }

        .header .banner {
            padding: 1rem 0 !important
        }

            .header .banner h2 {
                max-width: 100%;
                font-size: 1.7rem !important;
                margin-top: 8% !important;
                margin-left: 0 !important;
            }

            .header .banner h6 {
                margin-left: 0 !important;
            }

            .header .banner .input-group {
                width: 100%;
                margin-left: 0 !important;
            }

                .header .banner .input-group .btn-primary {
                    padding: 0.6375rem 0.5rem !important;
                }

            .header .banner ul.checklist {
                padding-left: 1.5rem !important;
                margin: 1rem 0;
            }

    .bannerimg {
        width: 100% !important;
		margin-top: 60px;
		margin-bottom: 0;
    }

    .faq {
        margin: 1rem 0.5rem !important;
    }

    .counters {
        margin-top: 5rem;
        padding: 4rem 0.5rem;
    }

    .career {
        background-size: 132%;
        background-position: bottom right;
    }

        .career .careercontent {
            padding: 4rem 1rem 7rem;
        }

            .career .careercontent a {
                width: 60% !important;
            }

    .whyus {
        background-color: #EEF7FF;
        min-height: 74rem;
    }

        .whyus .imgwhyfin {
            margin: 2rem auto !important;
            display: block;
            max-width: 55% !important;
        }

        .whyus .whysingle {
            margin: 1rem !important;
        }

    .training .trainingcontent .border-right {
        border-bottom: solid 1px rgba(255,255,255,0.2) !important;
        border-right: none !important;
    }


    .masterbarmobile {
        min-height: 2rem;
        order: 1;
    }

        .masterbarmobile a {
            padding: 0.125rem 0.5rem !important;
            border-radius: 0rem !important;
            margin: 0.25rem;
            font-size: 0.75rem;
            border: none !important;
        }

            .masterbarmobile a.btn-primary {
                background-color: #0078ff !important;
            }

            .masterbarmobile a.btn-info {
                background-color: #1895fd !important;
            }

            .masterbarmobile a.btn-success {
                background-color: #01e8c4 !important;
            }

            .masterbarmobile a.btn-secondary {
                background-color: #b4cbe3 !important;
            }

        .masterbarmobile .social {
            display: none !important;
        }

        .coursecard .coursename {
            font-size: 20px;
        }

        .coursecard .coursehighlights svg {
            color: #009CF9;
            width: 1.5rem;
            height: 1.5rem;
        }

        .coursecard .coursehighlights p {
            font-size: 0.875rem;
        }

        .coursecard .enrollbtn {
            bottom: -5px !important;
        }

    .coursedesc {
        clear: both;
        padding: 2rem !important;
        font-size: 1rem !important;
        width: 100%;
        color: #000;
    }

    .coursesection, .courseheader {
        padding: 0.6rem !important;
       margin-top: 85px;
    }

        .coursesection.apppage {
            padding: 1rem !important;
            margin-top: 0 !important;
        }



    .syllabus.apppage .card .card-header h5 .btn-link {
        width: 87%;
    }

    .nav-scroller .nav {
        width: 190% !important;
    }

    .syllabus.apppage .card .card-header h5 .btn-success {
        padding: 0.5rem 0.75rem !important;
        font-size: 0.875rem;
    }

    .authpage .syllabus {
        padding: 0 !important;
    }

    .courseheader h1 {
        font-size: 1.875rem !important;
    }

    .courseheader .enrollcourse, .courseheader .courseprice, .courseheader del {
        font-size: 1rem !important;
        margin-left: 0;
        margin-right: 1rem;
    }

    .courseheader .enrollcourse, .courseheader .courseprice {
        padding: 0.5rem 0.75rem !important;
    }

    .courseheader .enrollcourse {
        margin-right: 0;
        margin-top: 0.25rem;
    }

    .coursesection h2 {
        font-size: 1.5rem;
    }

    .coursesell {
        display: block;
    }

    .card-product {
        padding: 0;
        margin-top: 1rem;
    }

    .pageheading {
        font-size: 1.5rem;
    }

    .card-product .title, .card-product p {
        text-align: center;
    }

    .card-product aside.border-left {
        border-left: none !important;
        border-top: solid 1px #dee2e6;
    }

    .card-product .badge {
        margin-top: 1rem;
    }

    .card-product .action-wrap {
        text-align: center !important;
    }

    .card-product .im-checkout {
        max-width: 100% !important;
    }

    .dlist-align dt {
        width: 7rem;
        text-align: center;
    }

    .dlist-align dd {
        text-align: center;
    }

    .readersidebar .btnbackcourses {
        margin: 5rem 0 4rem 0;
        color: #1895fd !important;
        font-size: 0.9375rem;
        text-decoration: none;
        display: inline-block;
    }

    .readersidebar .btnnextchap {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
        color: #1895fd !important;
    }


    .readersidebar .topicslist {
        padding-left: 0;
        margin-top: -2rem;
    }

        .readersidebar .topicslist h3 {
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 1rem;
            color: #ccc;
        }

        .readersidebar .topicslist hr {
            max-width: 15%;
            border-bottom: solid 1px rgba(0,0,0,0.3);
            margin: 0;
        }

    .readersidebar #vertical-timeline {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
    }

        .readersidebar #vertical-timeline:after {
            content: '';
            border: 3px solid #cee9f9;
            height: 100%;
            position: absolute;
            top: 1px;
            left: 10px;
            z-index: -1;
        }

        .readersidebar #vertical-timeline li {
            margin-top: 1.5rem;
        }

            .readersidebar #vertical-timeline li .marker {
                margin-top: 1.5rem;
                width: 25px;
                height: 25px;
                display: block;
                text-align: center;
                line-height: 25px;
                border-radius: 50%;
                z-index: 1;
                background-color: #cee9f9;
            }

            .readersidebar #vertical-timeline li.active .marker {
                background-color: #1b96fd;
            }

            .readersidebar #vertical-timeline li .content {
                margin-left: 50px;
                margin-top: -25px;
            }

                .readersidebar #vertical-timeline li .content a {
                    text-decoration: none !important;
                    color: #000;
                    font-size: 0.875rem;
                    font-weight: 400;
                }

    .topiccontent {
        margin: 0 0 3rem !important;
        padding: 1.5rem !important;
    }


    .downloaditem {
        padding: 0.5rem;
    }

        .downloaditem .fileicon {
            width: 4rem;
            height: 4rem;
            padding: 0.75rem 0;
            border-radius: 50%;
            margin: 0.5rem 0.25rem;
        }

        .downloaditem .filedetails {
            max-width: 71%;
            padding: 0.5rem;
        }

        .downloaditem .downloadicon img {
            opacity: 0.7;
            margin-top: 2.25rem;
        }

    .homemodal .modal-dialog {
        max-width: 100% !important;
    }

    .training .trainingcontent a {
        width: 50% !important;
    }


    .homemodal .modal-header {
        background-repeat: no-repeat !important;
    }
}


@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@media print {
    .maincontent {
        display: none !important;
    }

    .coursedesc {
        display: none !important;
    }

    .topiccontent {
        display: none !important;
    }

    .controlbtns {
        display: none !important;
    }

    .footer {
        display: none !important;
    }

    .printmsg {
        display: block !important;
    }
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #22a754;
  
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   border-radius: 0.5rem 0.5rem 0 0 !important;
    
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 100%;
    line-height: 1.5;
    /* border-radius: .25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: #fffafa00 !important;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: #ccc0;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-theme .owl-nav {
    margin-top: 0px !important;
}
label {
    display: inline-block;
    margin-bottom: 0px !important;
}
.border-radius
{
border-radius: 10px;
margin-bottom: 2px;
padding: 2px;
}
.number1
{
    font-size: 2.3rem;
    font-weight: bold;
    color: #00a64c;
    padding-bottom: 10px;
    padding-top: 10px;
}
.background-number
{
    background: #e8f7fe;
    margin-bottom: 10px;
    padding-top: 20px;
}
.number2
{
    background: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}
.videoicon1
{
   color: #1159b5;
    font-size: 50px;    
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 3px solid #1158b4;
    border-radius: 50%;
    padding: 15px 10px;
    left: 50%;
   background: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.videoicon1:hover
{
-o-transition: all .5s;
    transition: all .5s;
    -webkit-transition: all .5s;
    box-shadow: 0px 0px 10px 10px #fff;
    cursor: pointer;
}
.videoimg111
{
	padding: 5px;
   
    border-radius: 6px;
        box-shadow: 0px 10px 20px rgb(51 104 198 / 27%);
    width: 100%;
 }
 .navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
    background-color: #1057b3 !important;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    border-radius: 100px;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease;
}
/***================================
	DK
=================================***/
.dark-blue-text{
	color: #0d2366 ;
	font-weight: 500;
	font-size: 30px ;
}
.subheading{
    text-align: center;
    font-size: 0.9375rem;
    color: rgba(0, 83, 139, 0.4);
}

.box123{
    background: linear-gradient(179deg, rgba(14,83,177,1) 19%, rgba(35,119,201,1) 98%) !important;
    border-radius: 10px;
    margin-bottom: 20px;
    /* margin: 2.5rem 1rem; */
    height: 200px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
}
.coursedetails .progress .progress-bar{
	background-color: #FF9800;
}
.coursedetails .progress{
	    height: 4px;
    border-radius: 10px;
    overflow: hidden;
}
.enrollbtn_inner{
	background:#5cb85c !important;
}
.supller_logo{
	    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: saddlebrown;
    padding: 5px;
}
.rating_b .checked {
  color: orange;
}